Django==2.2
django_debug_toolbar==2.2
pytz==2017.3
wheel==0.34.2
pip==20.2.3
termcolor==1.1.0
Faker==4.17.1
django_crispy_forms
names==0.3.0
nepali_roman==0.45.1.1
products==0.1.0
Unidecode==1.1.1
django-bootstrap4
