django==2.2
Faker==4.17.1
pytz==2017.3
termcolor==1.1.0
django_crispy_forms==1.10.0
names==0.3.0
nepali_roman==0.45.1.1
products==0.1.0
Unidecode==1.1.1

django-bootstrap4==1.1.1
django-chatter==1.0.7
django-datetimepicker==3.14
django-stdimage==5.1.1
python-dateutil==2.8.1


