{% extends "mapp/base.html" %}
{% load bootstrap4 %}

{#{% block content %}#}
{#    <div class="container">#}
{#    <h1>Sign Up</h1>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {% bootstrap_form form %}#}
{#        <input type="button" class="btn btn-success" value="Sign In">#}
{#    </form>#}
{#    </div>#}
{#{% endblock %}#}
    {% block header %}
        <title>Login</title>
    {% endblock %}


{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="Submit" class="btn btn-success" value="Log In">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}