{%  extends "mapp/base.html" %}
{% load bootstrap4 %}

    {% block header %}
        <title>Sign up</title>
    {% endblock %}
{% block content %}
    <div class="container">
    <h1>Sign Up</h1>
    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
    </form>
    <p class="font-weight-bold">Note: If your Intent to work as a handyman, Then please provide your work phone number.</p>
    </div>
{% endblock %}