{% extends "mapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{#{% load widget_tweaks %}#}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>


    <script type='text/javascript'>
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            console.log(selector);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();

            newForm = newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])');
            if (newForm !== undefined) {
                newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
                    if ($(this).attr('name') !== undefined) {
                        var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                    }
                });

            }
            ;

            console.log(total);

            newElement.find('label').each(function () {
                var forValue = $(this).attr('for');
                console.log(forValue);
                if (forValue !== undefined) {
                    forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr({'for': forValue});
                }
            });
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.add-form-row')
                .removeClass('success-color').addClass('danger-color')
                .removeClass('add-form-row').addClass('remove-form-row')
            {#.html('<i class="fa fa-remove fa-times-circle-o" aria-hidden="true"></i>');#}
            console.log(conditionRow);
            conditionRow.find('.fa').removeClass('fa-plus').addClass('fa-times');
            return false;
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1) {
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.add-form-row', function (e) {
            e.preventDefault();
            console.log($('.form-row:last'));
            cloneMore('.form-row:last', 'form');
            return false;
        });
        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            deleteForm('form', $(this));
            return false;
        });
    </script>
{% endblock %}


{% block head_title %}
    Submit Your Advertisment
{% endblock %}

{% block content %}
    <h3 align="center">Submit Your Advertisment</h3>
    <div class="container-fluid mt-5 w-50 align-content-center ">

        <form class="mr-3 ml-3 justify-content-center" method="post" enctype="multipart/form-data">
            {#            <div class="form-group row">#}
            {% csrf_token %}
            {% crispy form %}


            {{ formset.management_form }}
            {% for form in formset %}
                <div class="row form-row spacer">
                    <div class="col-2">
                        <label>Services*</label>
                    </div>
                    <div class="col-8">

                        <div class="input-group mt-1 ">
                            <div class="col"> {{ form.name }}  </div>
                            <div class="col"> {{ form.price }}</div>

                            <div class="input-group-append">
                                {% if form.name.value  %}
                                    <button class="remove-form-row danger-color " id='add-form-id'><i
                                            class="fa fa-times fa-fw fa-inverse" aria-hidden="true"></i></button>
                                {% else %}
                                    <button class="add-form-row success-color " id='add-form-id'><i
                                            class="fa fa-plus fa-fw fa-inverse" aria-hidden="true"></i></button>
                                {% endif %}

                                {#                                <button class="btn btn-success -autoprefixer add-form-row" id='add-form-id'><i class="fa fa-xs fixed-bottom fa-times" aria-hidden="true"></i></button>#}
                            </div>

                        </div>

                    </div>
                </div>
            {% endfor %}
            <br>
            <p>Note: Leave price as &#8377;0 for custom pricing</p>


            <div class=" mt-5 row spacer">
                <div class="col-4 offset-2">
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            </div>


            {#                        </div> <input type="submit" name="submit" value="Submit"#}
            {#                 class="btn btn-primary flex-center align-content-center "#}
            {#                 id="submit-id-submit">#}
        </form>


    </div>

    {##}
    {#    <div class="container-fluid mt-5 w-50 align-content-center">#}
    {#        <form method="post" novalidate>#}
    {#            {% csrf_token %}#}
    {##}
    {#            {% for hidden_field in form.hidden_fields %}#}
    {#                {{ hidden_field }}#}
    {#            {% endfor %}#}
    {##}
    {#            {% if form.non_field_errors %}#}
    {#                <div class="alert alert-danger" role="alert">#}
    {#                    {% for error in form.non_field_errors %}#}
    {#                        {{ error }}#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            {% endif %}#}
    {##}
    {#            {% for field in form.visible_fields %}#}
    {#                <div class="form-group row inline_label">#}
    {#                    {{ field.label_tag }}#}
    {##}
    {#                    {% if form.is_bound %}#}
    {#                        {% if field.errors %}#}
    {#                            {% render_field field class="form-control is-invalid" %}#}
    {#                            {% for error in field.errors %}#}
    {#                                <div class="invalid-feedback">#}
    {#                                    {{ error }}#}
    {#                                </div>#}
    {#                            {% endfor %}#}
    {#                        {% else %}#}
    {#                            {% render_field field class="form-control is-valid" %}#}
    {#                        {% endif %}#}
    {#                    {% else %}#}
    {#                        {% render_field field class="form-control inline" %}#}
    {#                    {% endif %}#}
    {##}
    {#                    {% if field.help_text %}#}
    {#                        <small class="form-text text-muted">{{ field.help_text }}</small>#}
    {#                    {% endif %}#}
    {#                </div>#}
    {#            {% endfor %}#}
    {##}
    {#            <button type="submit" class="btn btn-primary">Submit</button>#}
    {#        </form>#}
    {#    </div>#}

{% endblock %}