{% extends "mapp/base.html" %}
{% load static %}
{% load get_category %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type='text/javascript'>
        $(document).on("click", ".delete-button", function () {
            var assgim = $(this).data('id');
            console.log(assgim);
            var link = "{% url 'mapp:delete_assigm' id=0 %}".replace('0', assgim);
            $('#confirm-delete').attr('href', link);
        });
    </script>
{% endblock %}

{% block head_title %}
    {{ assignment.advertisment_id.title }} by {{ assignment.handyman.name }}
{% endblock %}

{% block content %}

    <div class="modal fade" id="serviceChooser" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100 font-weight-bold">Are you sure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div align="center">
                    <a id="confirm-delete">
                        <button type="button" class="btn btn-danger">Yes</button>
                    </a>

                    <button type="button" data-dismiss="modal" class="btn btn-white">No</button>
                    {#                    <button  class="close" data-dismiss="modal" class="btn btn-primary">No</button>#}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mb-4  align-items-center">
        <div class="flex-center">
            <h3 class="d-flex flex-center a mr-xl-2 ml-xl-2 mt-4 mb-4">
                <span class="text-xl-center ">{{ assignment.advertisment_id.title }} by {{ assignment.handyman.name }} </span>
            </h3>
            <br>
        </div>
        <div class="flex-center lh-condensed">
            <ul class="list-group w-50  ">
                <li class="list-group-item d-flex border p-1  lh-condensed">
                    <span class="font-weight-bold">Appointment DateTime: &nbsp;</span> {{ assignment.appointment_date }}
                </li>
                <li class="pl-2 p-1 mlist-group-item border  d-flex  lh-condensed">
                    <span class="font-weight-bold">Handyman: &nbsp; </span>{{ assignment.handyman.name }}
                </li>
                <li class="list-group-item d-flex border p-1  lh-condensed">
                    <span class="font-weight-bold">Email: &nbsp; </span>{{ assignment.handyman.email }}
                </li>
                <li class="list-group-item d-flex  border p-1  lh-condensed">
                    <span class="font-weight-bold">Address:&nbsp; </span>{{ assignment.address }}
                </li>
                <li class="list-group-item d-flex  border p-1  lh-condensed">
                    <table>
                        <tr rowspan="2" colspan="2" class="align-items-lg-start">
                            <td><span class="font-weight-bold">Services:</span></td>
                        </tr>
                        {% for item in assignment.services.all %}
                            <tr>
                                <td></td>
                                <td align="left">{{ item.name }}&nbsp;</td>
                                <td align="left">&#8377; {{ item.price }}</td>
                            </tr>
                        {% endfor %}

                    </table>

                </li>
                <li>
                    {% if user.is_handyman %}
                        <a href="{% url 'mapp:chat' user_id=assignment.client_id %}"
                           data-id="chat-button">
                            <button class="btn btn-primary"><i class="fa fa-comment-dots"></i>Chat with Customer</button>
                        </a>
                    {% else %}
                        <a href="{% url 'mapp:chat' user_id=assignment.handyman_id %}"
                           data-id="chat-button">
                            <button class="btn btn-primary"><i class="fa fa-comment-dots"></i>Chat with Handyman</button>
                        </a>
                    {% endif %}
                    <a href="" data-toggle="modal" data-target="#serviceChooser" class="delete-button"
                       data-id="{{ assignment.id }}">
                        <button class="btn btn-danger">Cancel Assignment</button>
                    </a>

                </li>
            </ul>

        </div>
        <br>
        <p align="center">Note: Charges may differ according to the repairs.</p>
    </div>
{% endblock content %}

