{% extends "mapp/base.html" %}
{% load static %}
{% block extra_head %}

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .chat-box {
            margin: 0 auto;
            max-width: 80%;
            padding: 0 20px;
        }

        .reciever {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
            margin-right: 12%;
            margin-left: 0;
            margin-bottom: 0;
        }

        .sender {
            border: 2px solid #dedede;
            background-color: #93d7f1;
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
            margin-right: 0;
            margin-left: 12%;
            margin-bottom: 0;

        }

        .sender::after {
            content: "";
            clear: both;
            display: table;
        }

        .reciever::after {
            content: "";
            clear: both;
            display: table;
        }

        .reciever span {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
        }

        .sender span {

            float: right;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
        }

        .reciever .time {
            float: right;
            color: #aaa;
        }

        .sender .time {
            float: left;
            color: #999;
        }

        #form-input {
            height: 50px;
            font-size: 16px;
        }

        #form-btn {
            line-height: 50px;
            font-size: 16px;
        }
    </style>
{% endblock %}


{% block content %}
    <br>
    <div class="chat-box">
        {% for message, is_sender in chat_messages %}
            {% if is_sender %}
                <div class="sender">
                    <span class="badge-light badge-pill ">{{ sender }}</span>
                    <p>{{ message }}</p>
                    <span class="time">11:00</span>
                </div>
            {% else %}
                <div class="reciever">
                    <span class="badge-light badge-pill ">{{ reciever }}</span>
                    <p>{{ message }}</p>
                    <span class="time">11:00</span>
                </div>

            {% endif %}
        {% empty %}

        {% endfor %}


        <br>
        <form method="post">
            {% csrf_token %}
            <div class="mt-2 input-group mb-3" id="message-field">
                <input type="text" name="message" class="form-control" placeholder="Message" aria-label="Response"
                       aria-describedby="basic-addon2" required="true">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary m-0 pb-1 pt-1" type="button">Send</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: $("#message-field").offset().top
            });
        });
    </script>

{% endblock %}