{% extends "mapp/base.html" %}
{% load get_category %}

{% block head_title %}
    Assignment
{% endblock %}

{% block content %}



    <div class="col-md-12 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mr-xl-2 ml-xl-2 mt-4 mb-4">
            <span class="text-muted">Your Work</span>
            <span class="badge badge-primary  badge-pill">{{ object_list | length }}</span>
        </h4>

        <h3 align="center"><a href="{% url 'mapp:advertisment_form'%}">
            <span class="badge badge-success  badge-pill">Add More Advertisments</span></a></h3>

        <ul class="list-group mr-xl-2 ml-xl-2 mb-3 z-depth-1">
            {% for assigm in object_list %}
                {#                <a>#}
                {#            text-muted#}

                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    {% if assigm.is_completed %}
                        <div class="text-muted">
                    {% endif %}
                    <div>
                        <h6 class="my-0 font-weight-bold">{{ assigm.advertisment_id }}</h6>
                        <h6 style="color: blue">For: {{ assigm.client }}</h6>
                        {% for service in assigm.services.all %}
                            <small class="ml-2">{{ service }}</small><br>
                        {% empty %}
                        {% endfor %}
                        <small class="text-muted">{{ assigm.appointment_date }}</small>
                        <br>
                    </div>
                    <span class="text-muted">&#x20b9;{{ assigm.price }}</span>
                </li>

            {% empty %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    No Tasks!
                </li>
                {#                </a>#}
            {% endfor %}
            {#    {% if order.coupon %}#}
            {#    <li class="list-group-item d-flex justify-content-between bg-light">#}
            {#        <div class="text-success">#}
            {#        <h6 class="my-0">Promo code</h6>#}
            {#        <small>{{ order.coupon.code }}</small>#}
            {#        </div>#}
            {#        <span class="text-success">-${{ order.coupon.amount }}</span>#}
            {#    </li>#}
            {#    {% endif %}#}
            {#            {% get_total_price user object_list as total_price %}#}
            {#            <li class="list-group-item d-flex  justify-content-between">#}
            {#                <span class="font-weight-bold">Total</span>#}
            {#                <strong>&#x20b9;{{ total_price }}</strong>#}
            {#            </li>#}
        </ul>
        <br>
        {#        <ul class="list-group mr-xl-2 ml-xl-2 mb-3 z-depth-1">#}
        {#            <P class="text-center text-muted">Note: Pricing may vary accordance to actual work and alternation required.#}
        {#                Custom pricing is determined according to the task</P>#}
        {##}
        {##}
        {#        </ul>#}
    </div>
{% endblock content %}

